# Lifetime Credentials
LIFETIME_EMAIL=your-email@example.com
LIFETIME_PASSWORD=your-password
LIFETIME_ORG_ID=13234

# Telegram Bot
TELEGRAM_BOT_TOKEN=your-bot-token-here
TELEGRAM_CHANNEL_ID=-1003889752528
